<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>rlnk.be | LinkList</title>
  <meta content="Shorten your long URLs with rlnk.be for free." name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='assets/img/fav.png') }}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <!-- =======================================================
  * Template Name: OnePage - v4.0.1
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">rlnk.be</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/v2">Shortener</a></li>
          <li><a class="nav-link scrollto" href="/linklist">LinkList</a></li>
          <li><a class="nav-link scrollto" href="/v2#faq">FAQ</a></li>
          <li><a class="getstarted scrollto" href="/login">Login</a></li>
          <li><a class="nav-link scrollto" href="/register">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Manage your Links</h1>
          <h2>Create your LinkList for free</h2>
        </div>
      </div>


      
        <div class="text-center">
          <a class="btn-get-started scrollto animated">Coming Soon!</a>
        </div>


      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">



    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Do you have questions? Contact us with this form.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Can shorten unlimited links for free?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Yes, you can shorten so many links you want.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Can I customize the ending of my links?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  At the moment no. But we are working hard, to bring that feature.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Do you have other link services?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, we are working for a link page, where you can easily manage your links. We are also creating a statistics page, which is coming soon!
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">I found a website, which uses the shortener for harmful content. Is there a way to report that?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes there is. You can send us the link with this form. We are working hard for a filter, which protect you from injurious websites.
                </p>
              </div>
            </li>



          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h3>Start now for FREE</h3>
          <p>test our beta program for free</p>
          <a class="cta-btn" href="#cta">SHORTEN</a>
        </div>
      </div>
    </section><!-- End Cta Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">


          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://rexstudios.ch/link-shortener">RexStudios Project Page</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://rexstudios.ch/impressum">Imprint</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://rexstudios.ch/datenschutz">Privacy policy</a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Rlnk.be</span></strong> by RexStudios.ch. All Rights Reserved
        </div>
        
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/rexstudiosde" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://instagram.com/rexstudios.ch" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

  <script src='https://code.jquery.com/jquery.min.js'></script>

    <script>
    function onSubmit(token) {
      document.getElementById("ShortButton").submit();
    }
  </script>

  <script>
      function shorten() {
          url = $('input[name=url]').val();
          if (url) {
              $.post('/api/create', {'url': url}, (res) => {
                  $('#res').html(`<a href='${res["url"]}'>${res['key']}</a>`);
                  document.getElementById("myImput").value = `https://rlnk.be/${res['key']}`;
                  document.getElementById('CopyButton').style.display = 'block'; document.getElementById('ShortButton').style.display = 'none'; 
                  document.getElementById('key').style.display = 'none'; 
                  document.getElementById('legal-info').style.display = 'none'; 
              })
          } else {
              $('#res').text('Invalid URL!');
          }
      }
  </script>

  <script>
    function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("myImput");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/

      /* Copy the text inside the text field */
      document.execCommand("copy");
      document.getElementById('MoreButton').style.display = 'block'; 
      document.getElementById('CopyButton').style.background = "green"; 
      document.getElementById('CopyButton').innerHTML = "Link copied"; 

    }      
  </script>

  <script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#23272A",
        "text": "#ffffff"
      },
      "button": {
        "background": "#7289DA"
      }
    },
    "position": "bottom-right",
    "type": "opt-in",
    "content": {
      "message": "Diese Website speichert Cookies auf Ihrem Computer. Diese Cookies werden verwendet, um Informationen darüber zu sammeln, wie Sie mit unserer Website interagieren. Wir verwenden diese Informationen, um Ihre Browser-Erfahrung zu verbessern und anzupassen, sowie für Analysen und Messungen .",
      "dismiss": "Ablehnen",
      "allow": "Akzeptieren",
      "link": "Mehr erfahren"
    }
  });
  </script>

</body>

</html>


